early allocation

Conditions for requesting early allocation -- see also [§2 of RFC7120](https://www.rfc-editor.org/rfc/rfc7120.html#section-2):

* [x] The code points must be from a space designated as "RFC Required", "IETF Review", or "Standards Action".  Additionally, requests for early assignment of code points from a "Specification Required" registry are allowed if the specification will be published as an RFC.

> _Per Section 3.1 of [[RFC6838](https://www.iana.org/go/rfc6838)], Standards Tree requests made through IETF documents will be reviewed and approved by the IESG._

* [x] The format, semantics, processing, and other rules related to handling the protocol entities defined by the code points (henceforth called "specifications") must be adequately described in an Internet-Draft.

> _draft-ietf-rats-eat-media-type is that Internet-Draft_

* [x] The specifications of these code points must be stable; i.e., if there is a change, implementations based on the earlier and later specifications must be seamlessly interoperable.

> _we think they are stable_

* [ ] The Working Group chairs and Area Directors (ADs) judge that there is sufficient interest in the community for early (pre-RFC) implementation and deployment, or that failure to make an early allocation might lead to contention for the code point in the field.

> _this we should ask_

> * [ ]  The Working Group chairs and Area Directors (ADs) judge that there is sufficient interest in the community for early (pre-RFC) implementation and deployment, or that failure to make an early allocation might lead to contention for the code point in the field.
> 
> > _this we should ask_

This we asked at [IETF 115](https://datatracker.ietf.org/doc/minutes-115-rats-202211071530/).  The relevant record from the minutes:

```
** 16:50 - 16:55**
EAT Media Types
Open Issue#12 - Early Allocation
[NC] Need to check with other chairs.
[Roman] Needs to be put on mailing list for thorough review.
```

It seems like the action is stuck with the chairs.

Overtaken by events, will sync with EAT.